@import "compass";

.col-md-6{
	width: 48%;
	display: inline-block;
}

#upload .footer > input{
	position: absolute;
	top: -1000px;
}

.btn{
	padding: 10px 16px;
	font-size: 18px;
	width: 100%;
	border: grey 1px solid;
}

.btn-primary{
	color: white;
	background-color: #F97074;
}

.btn-info{
	color: white;
	background-color: #7EDBED;
}
/* risk-score-panel */
.risk-score-panel > .header, .risk-score-panel > .body{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 2%;
	margin-right: 2%;
}
.header > .title{
	margin-top: 15px;
}

.panel{
	background-color: rgba(221, 221, 221, 0.6);
	box-shadow:  0 3px 2px grey;	
}
.panel > .body{
	padding: 10px;
}
.panel > .footer{
	padding: 10px;
	border-top: 1px solid grey;
}
