@import "compass";

$nav-title1: #ef5350;
$nav-title2: #00bcd4;;
$nav-title3: #8bc34a;
$nav-title4: #ffb300;

.notes {
  text-align: center;
  font-size: 18px;
  color: $nav-title4;
  .village-name {
    margin: 0 -4px;
  }
  .village-num {
    font-size: 42px;
    font-weight: 700;
    margin: 0 5px;
  }
}

.chart-box {
  display: inline-block;
  p {
    font-size: 10px;
  }
}
.rank-box {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
  .rank {
    position: absolute;
    padding-left: 5px;
  }
  .mark-icon {
    position: absolute;
    top: -16px;
    left: 0;
    width: 10px;
    img {
      width: 100%;
    }
  }
  .rank-old {
    top: 105px;
  }
  .rank-children {
    top: 155px;
  }
  .rank-intimate {
    top: 205px;
  }
  .rank-other {
    top: 255px;
  }
  .rank-LowIncome {
    top: 324px;
  }
  .rank-disabled {
    top: 351px;
  }

  .rank-bar {
    position: relative;
    width: 130px;
    height: 8px;
    background-color: #26bf65; // Old browsers
    @include filter-gradient(#26bf65, #d82700, horizontal); // IE6-9
    @include background-image(linear-gradient(left,  #26bf65 0%,#faff00 50%,#d82700 100%));
    span {
      position: absolute;
      top: -7px;
      font-size: 14px;
    }
    .low {
      left: -14px;
    }
    .high {
      right: -30px;
    }
  }
}


.chart {
  margin-left: 35px;
  margin-top: 30px;
}

.statistic {
  position: relative;
  display: inline-block;
  &.age {
    margin-left: 37px;
  }
  .percent {
    position: absolute;
    left: -2px;
    bottom: 89px;
    font-size: 12px;
  }
}
